body {
  background-color: cornsilk;
}
.container {
  height: 80vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

header {
  text-align: center;
  font-size: 1.5rem;
}

#rspImg {
  display: block;
  width: 154px;
  height: 154px;
  overflow: hidden;
}

#rspImg li{
  width: 154px;
  height: 154px;
}

#result {
  visibility: hidden;
  display: flex;
  margin: 0.5rem;
  align-items: center;
  flex-direction: column;
}

#result > div {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  color: palevioletred;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

button {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  font-weight: bold;
}

img{
  width: 154px;
  height: 154px;
}