<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/rspGame.css" rel="stylesheet">
    <title>가위바위보~~!</title>
</head>
<body>
  <div class="container">
    <header>✨가위바위보를 해봅시다✨</header>
    <section id="rspImg">
      <ul style="transform:">
        <li class="rock" ><img src="../img/✊.svg" alt="바위"></li>
        <li class="scissors"><img src="../img/✌.svg" alt="가위"></li>
        <li class="paper"><img src="../img/🖐.svg" alt="보"></li>
      </ul>
    </section>
    <section id="result">
      <div></div>
      <button id="retry">다시하기</button>
    </section>
    <div class="buttons">
      <button class="scissors">가위</button>
      <button class="rock">바위</button>
      <button class="paper">보</button>
    </div>
  </div>
  <script src="../js/rsp.js"></script>
</body>
</html>